* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #080b12;
  color: #f5f7fb;
  font-family: Arial, sans-serif;
  padding: 50px 20px;
}

.app {
  max-width: 800px;
  margin: auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 32px;
  margin-bottom: 7px;
}

.header p {
  color: #7f8798;
}

.date {
  text-align: right;
}

.date span {
  display: block;
  color: #7f8798;
  font-size: 13px;
  margin-bottom: 5px;
}

.date strong {
  font-size: 16px;
}

/* Input */

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.input-box input {
  flex: 1;
  background: #10151f;
  border: 1px solid #1d2533;
  outline: none;
  color: white;
  padding: 15px 17px;
  border-radius: 12px;
  font-size: 15px;
}

.input-box input:focus {
  border-color: #7c5cff;
}

.input-box button {
  border: none;
  background: #7c5cff;
  color: white;
  padding: 0 22px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.input-box button:hover {
  background: #6948ed;
}

/* Tasks */

.tasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #10151f;
  border: 1px solid #1d2533;
  padding: 18px;
  border-radius: 15px;
  transition: 0.2s;
}

.task:hover {
  border-color: #343d4e;
  transform: translateY(-2px);
}

/* Checkbox */
/* 
.check {
  width: 22px;
  height: 22px;
  border: 2px solid #4c5668;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.completed .check {
  background: #7c5cff;
  border-color: #7c5cff;
} */

/* Task Content */

.task-content {
  flex: 1;
}

.task-content h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.task-content p {
  color: #747d8e;
  font-size: 13px;
}

.completed h3 {
  text-decoration: line-through;
  color: #707887;
}

/* Priority */

/* Delete */

.delete {
  border: none;
  background: transparent;
  color: #606a7b;
  font-size: 21px;
  cursor: pointer;
}

.delete:hover {
  color: #ff5c73;
}

/* Mobile */

@media (max-width: 600px) {
  body {
    padding: 25px 15px;
  }

  .header {
    align-items: flex-start;
  }

  h1 {
    font-size: 26px;
  }

  .input-box button {
    padding: 0 15px;
  }

  .task {
    padding: 15px;
  }

}